<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
           
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="">Food Name</label>
                    <input type="text" class="form-control"  name="recipeName"  [(ngModel)]="recipeName">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="">Item Type</label>
                    <input type="text" class="form-control"  name="recipeItem"  [(ngModel)]="recipeItem">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="">Item Make</label>
                    <input type="text" class="form-control" name="recipeMake"  [(ngModel)]="recipeMake">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="">Quality</label>
                    <input type="text" class="form-control" name="recipeQuality"  [(ngModel)]="recipeQuality">
                </div>
               
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button class="btn btn-primary" (click)="readvalues()">Submit</button>
                </div>
            </div>

        </div>
    </div>
</div>